extends layout

block content
    .xl-row.xl-gap-4.col.gap-4.justify
        .xl-fill-2.col.gap-2.justify.main.grid-desktop-only
            //- left column.
            if user
                form(method='POST' action="/blog/delete/#{post._id}/")
                    input(type="submit" value="Delete Post")
                form(action="/blog/edit/#{post._id}/")
                    input(type="submit" value="Edit Post")
        .xl-fill-6.main.col.justify.gap-2
            if post
                .post
                    h1= post.title
                    p !{post.body}
                .comment-new
                    form.form.col.gap-2(action='/blog/#{post._id}/comment/new/' method='POST' role='form' enctype='multipart/form-data')
                        .form-row
                            span#comment-submission-error
                        label
                            input(name="author" id='new-comment-author' placeholder="Name" required)
                        label
                            textarea(name="body" id='new-comment-body' placeholder='...comment...' style='min-height: 250px;')
                        label
                            button(type='submit')#submit-comment Save comment
                .comments.col.gap-2.justify
                    if comments && comments.length
                        for comment in comments
                            mixin comment(comment)
            else
                p Seems like something went wrong...
            form(action="/")
                input(type="submit" value="Back")
        .xl-fill-2.col.gap-2.justify.main.grid-desktop-only
            //- right column.