mixin experience(title, time)
	.job
		p
			strong
				| #{title}
		p #{time}

mixin post(p)
	a.post(href='/blog/#{p._id}/')
		strong #{p.title}
		span.italic  - #{moment(p.ts).format("MMMM Do, YYYY")}

mixin comment(c)
	.comment
		p(style='margin-top: 0;')
			| #{c.body}
			span.italic  - #{moment(c.ts).format("MMMM Do, YYYY")}